 .elearning{
        width: 40%;
        margin: 112px auto;
        
        
        .elearning-img{
            width: 120%;
            height: 191px;
        }

        @media (min-width: 768px) {
            .elearning-img{
                width: 100%;
                height: 191px;
            }
        }
}